
<div id="alert-for-beer" class="alert-for-tab"></div>
<div class="beer-table">
<div class="row beer-row beer-header">
  <div class="col-xs-5">Beer</div>
  <div class="col-xs-5">Brewery</div>
  <div class="col-xs-1">Points</div>
  {{#if player }}
    <div class="col-xs-1">Checkin</div>
  {{/if}}
  {{#if editing }}
  <div class="col-xs-1">+/-</div>
  {{/if}}
</div>
{{#unless beers}}
<div class="col-xs-12"><span>No beers added to the contest yet</span></div>
{{/unless}}
{{#each beers}}
<div id="beer-{{this.id}}" class="row beer-row {{#if this.checked_into }}beer-checkedin{{/if}}">
    <div class="col-xs-5">
      {{#if this.untappd_url}}
      <a href="{{ this.untappd_url }}">{{ this.name }}</a>
      {{else}}
      {{ this.name }} 
      {{/if}}
      {{#if this.challenger}}(challenge by {{this.challenger_username}}){{/if}}
    </div>
    <div class="col-xs-5">
      {{#if this.untappd_url}}
      <a href="{{ this.brewery_url }}">{{ this.brewery }}</a>
      {{else}}
      {{ this.brewery }}
      {{/if}}
    </div>
    <div class="col-xs-1">{{ this.point_value }}</div>
    {{#if player }}
    <div class="col-xs-1">
    {{#if this.checked_into }}
    <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
    {{/if}}
    </div>
    {{/if}}
    {{#if ../editing }}
    <div class="col-xs-1">
    <button type="button" class="btn btn-default" aria-label="Delete">
      <span class="glyphicon glyphicon-remove" aria-hidden="true" onclick="EditContest.removeBeerFromContest(contest, {{ this.id }})"></span>
    </button>
    </div>
    {{/if}}
</div>
{{/each}}
</div>
{{#if editing}}
<div class="edit-buttons">
  <button type="button" class="btn edit-button" data-toggle="modal" data-target="#addChallengeBeer">Add Challenge Beer</button>
  <button type="button" class="btn btn-primary edit-button" data-toggle="modal" data-target="#addBeer">Add Beer</button>
</div>
{{/if}}
